@import '../../variables.css';

:root {
  --marginWidth: 2.5em;
}

.root {
  composes: mediumCard contentWrapper;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 0;
  border: none;
  background: rgb(10, 14, 16);
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.13);
  cursor: default;
  flex: 1;
  margin: 4em auto;
}

.image {
  //position: absolute;
  flex: 1;
  overflow: hidden;
  min-width: 100%;
  min-height: 10em;
  @media(--screen-m1280) {
    min-height: 12em;
  }
  object-fit: cover;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 var(--marginWidth);
  box-sizing: border-box;
  position: relative;
  &:after {
    width: 100%;
    left: 0;
    z-index: 0;
    height: 100%;
    position: absolute;
    background: rgba(10, 14, 16, 0.75);
    content: '';
  }
}

.title {
  font-family: 'Raleway';
  flex: 0 0 100%;
  z-index: 10;
  color: white;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: .05em;
  margin: 1em 0;

  & h1 {
    font-size: 1.15em;
    margin: 0;
  }
  & h4 {
    margin: 0;
    font-size: .5em;
  }
}

.content {
  //display: none;
  flex: 0 0 100%;
  padding: 0 var(--marginWidth);
  box-sizing: border-box;

  color: #d8d8d8;

  & p, & h1, & h2, & h3, & h4, & h5 {
    margin: calc(var(--marginWidth) * 0.7) 0;
    line-height: 1.9;
  }
}

.infobar {
  z-index: 1;
  //background: #e53935;
  background: #06090a;
  text-shadow: 0 1px 1px black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-flow: row wrap;

  padding: 1em var(--marginWidth);
  box-shadow: 0 0px 20px 0px #0a0e10;
  flex: 1;
  & > h4 {
    font-size: .9em;
  }

  @media(--screen-m1280) {
    margin: 0 -1em;

  }

}

.data {
  font-family: var(--font-family-headers);
  font-weight: bold;
}

.tags {
  position: relative;
  margin: 0-.4em 1.4em;
  padding: 0;
  display: flex;
  z-index: 1;

  @media(--screen-m960) {
    position: absolute;
    right: 1em;
    top: 1em;
    margin: 0;
    padding: 0;
  }

  font-weight: bold;
  font-family: var(--font-family-headers);

  list-style: none;
  //margin: 0;
  cursor: default;

  &:before {
    font-family: 'Roboto';
    text-shadow: none;
    font-style: italic;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 10em;
    transform: translateY(-50%) translateX(-50%);
    line-height: .64;
    opacity: 0.7;
    content: '#';
    z-index: -1;
    color: #cc3432;
    display: none;
  }

  & > li {
    font-style: normal;
    &:before {
      content: '#'
    }
    background: #cc3432;
    line-height: 1;
    padding: .3em .35em;
    margin: 0 .2em;
    text-shadow: none;

    background: rgb(229, 57, 53);
    line-height: 1;
    padding: .35em 0.25em;
    margin: 0 .2em;
    //text-shadow: none;
    /* color: #0a0e10; */
    color: white;
    font-size: 1.3em;
    font-weight: normal;
    /* font-family: 'Raleway'; */
  }
}
