@import '../../variables.css';

.RightContainer{
  position: absolute;
  background: rgb(15, 19, 22);
  right: 0;

  width: 340px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  transform: translateX(100%);
  transition: var(--animation);
  @media(--screen-m960) {
    top: 4em;
  }

}

.RightContainerActive {
  composes: RightContainer;
  transform: translateX(0);

}
