@import '../../variables.css';
.root{
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  color: #bbb;
  background: rgba(10, 1, 1, 0.4);
  text-align: center;
  padding: 0 3em;
  font-family: var(--font-family-headers);
  align-items: center;
  font-size: 1.3em;
  @media(--screen-m600) {
    font-size: 2em;
  }
  @media(--screen-m960) {
    font-size: 2.5em;
  }

}